
/* -------------------------------------------------- 
   Custom styles
-----------------------------------------------------*/

/* -------------------------------------------------- 
  Global resets
-----------------------------------------------------*/
body {
	font-family: Lato, Arial, sans-serif;
	font-weight: 500;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Lato, Arial, sans-serif;
	font-weight: 200;
}
p {
	font-family: Cardo, Georgia, Times, serif;
	font-weight: normal;
}
.button {
	font-family: Lato, Arial, sans-serif;
	font-weight: 700;
}
.right {
	float: right;
}
.left {
	float: left;
}
.call {
	display: block;
	text-align: right;
	color: #163d5a;
	font-weight: 700;
}
/* -------------------------------------------------- 
   top navigation styles
-----------------------------------------------------*/
/*change the color of the top nav bar*/
.top-bar {
	background: #cfcf85; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmY2Y4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M4YjY2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2IwOWQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3OTY1MWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cfcf85 0%, #c8b660 50%, #b09d34 51%, #79651c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcf85), color-stop(50%,#c8b660), color-stop(51%,#b09d34), color-stop(100%,#79651c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cfcf85 0%,#c8b660 50%,#b09d34 51%,#79651c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cfcf85 0%,#c8b660 50%,#b09d34 51%,#79651c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cfcf85 0%,#c8b660 50%,#b09d34 51%,#79651c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cfcf85 0%,#c8b660 50%,#b09d34 51%,#79651c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcf85', endColorstr='#79651c',GradientType=0 ); /* IE6-8 */
	margin-right: 35px;
	margin-bottom: 0px;
	margin-top:40px;
	padding-left:20px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	height: 55px;
	line-height: 55px;

}
/*set font and color of menu text*/
.menu {
	color: white;
	padding-left: 30px;
}
.top-bar ul li a:not(.button), .top-bar ul li a:not(.name) {
	padding-top:5px;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: 21px;
}
/*increase the area available for the search input*/
.top-bar ul > li.search form {
	width: 250px;
}
/*remove right padding from search box*/
.top-bar ul > li.search {
	padding: 0 0 0 15px;
}
/*hide the search form label*/
.top-bar ul > li.search form label {
	position: absolute;
	left: -9000px;
}
/*remove large dark hover area for search box*/
.top-bar ul > li.search:hover {
	background: #163d5a;
}
/*style search form input and button and enable floating */
.top-bar ul > li.search form input[type="search"] {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	float: left;
	font-size: 16px;
	margin-top: 0px;
	height: 25px;
	width: 60%;
	margin-right: 3px;
}

.top-bar ul > li.search form input[type="search"] + .button {
	border-left: none;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	float: left;
	font-size: 12px;
	margin-top: -1px;
	padding: 5px 12px 4px;
	width: 20%;
}
/* -------------------------------------------------- 
  header styles
-----------------------------------------------------*/
header {
	margin-bottom: 30px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2M2Q1YSIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iIzE2M2Q1YSIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzE2M2Q1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjNkNWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(22,61,90,0.05) 0%, rgba(22,61,90,0.05) 55%, rgba(22,61,90,1) 56%, rgba(22,61,90,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,61,90,0.05)), color-stop(55%,rgba(22,61,90,0.05)), color-stop(56%,rgba(22,61,90,1)), color-stop(100%,rgba(22,61,90,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(22,61,90,0.05) 0%,rgba(22,61,90,0.05) 55%,rgba(22,61,90,1) 56%,rgba(22,61,90,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(22,61,90,0.05) 0%,rgba(22,61,90,0.05) 55%,rgba(22,61,90,1) 56%,rgba(22,61,90,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(22,61,90,0.05) 0%,rgba(22,61,90,0.05) 55%,rgba(22,61,90,1) 56%,rgba(22,61,90,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(22,61,90,0.05) 0%,rgba(22,61,90,0.05) 55%,rgba(22,61,90,1) 56%,rgba(22,61,90,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d163d5a', endColorstr='#163d5a',GradientType=0 ); /* IE6-8 */

	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
header h1 {
	font-size: 48px;
	font-weight:bold;
	float: left;
	line-height: 100px;
	margin: 0;
	padding-left: 70px;
	background: url(../_images/sp-logo-100.png) no-repeat left center;
	margin:0 15px 0 30px;
}
.primate {
	color: #163d5a;
}
header h2 {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	padding-top: 50px;
	padding-right:35px;
	float:right;
}
#headerImg {
	padding: 15px 15px 0px 35px;
}
/* -------------------------------------------------- 
   main article styles
-----------------------------------------------------*/
.main h2 {
	color: #666;
	font-weight: 500;
	font-size: 24px;
}
.peabody-lists{
	padding-left:20px;
}
.main h3 {
	padding-bottom: 12px;
	border-bottom: 2px solid #666;
}
.main p {
	font-size: .90em;
	line-height: 1.6;
}
.main .teaser {
	margin-bottom: 0;
}
.main img.teaser {
	margin-bottom: 16px;
}
.panel {
	margin-bottom: 16px;
}
.panel p {
	font-size: 1em;
}
.postcallout {
	margin-top: 16px;
}
/* -------------------------------------------------- 
   forms styles
-----------------------------------------------------*/
span.custom {
	margin-right: 10px;
}
/* -------------------------------------------------- 
   sidebar styles
-----------------------------------------------------*/
.mytowns-list{
	list-style-type:none;
	padding: 10px 10px 10px 5px;
}

aside h3 {
	color: #333;
	font-size: 24px;
	margin-top: 3em;
	margin-bottom: 16px;
}
aside h5{
	margin-bottom:10px;
}
aside p:last-child {
	padding-bottom:25px;
}
.sRight {
	background-color: #b19c27;
	color: #000;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow: inset 0 0 5px 5px #cab22c;
-webkit-box-shadow: inset 0 0 5px 5px#cab22c;
box-shadow: inset 0 0 5px 5px #cab22c;
}
.sLeft {
	background-color: #163d5a;
	color: #FFF;
	padding-top:20px;	

    border:none 6px #ffffff;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
-moz-box-shadow: inset 0 0 5px 5px #286593;
-webkit-box-shadow: inset 0 0 5px 5px#286593;
box-shadow: inset 0 0 5px 5px #286593;

}
aside p {
	font-family: Lato, Arial, sans-serif;
	font-size: 15px;
	line-height: 2;
	font-style: normal;
}
ul.social {
	list-style: none;
	margin: 0 auto;
	width: 60%;
	overflow: hidden;
}
ul.social li a {
	text-indent: -9000px;
	width: 35px;
	height: 35px;
	background: black;
}
ul.social li a.twitter {
	float: left;
	background: url(../_images/social_twitter_35.png) no-repeat;
}
ul.social li a.rss {
	float: right;
	background: url(../_images/social_rss_35.png) no-repeat;
}
/* -------------------------------------------------- 
   news styles
-----------------------------------------------------*/
div.news {
	margin-top: 64px;
}

.news h2 {
	background: #163d5a;
	color: white;
	font-size: 20px;
	line-height: 45px;
	padding-left: 20px;
	margin-bottom: 0;
}
/* -------------------------------------------------- 
   footer styles
-----------------------------------------------------*/
footer {
	background: #966964;
	height: 300px;
	padding-top:20px;
}
#footerList{
	color:white;
	padding-left: 35px;
	padding-top: 20px;
}
footer p {
	font-size: 12px;
	color: white;
	line-height: 60px;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer ul li {
	float: left;
}
footer ul li a {
	color: white;
	display: block;
	margin-right: 16px;
	padding: 0 16px;
	line-height: 60px;
}
#footerLocation {
	color:white;
	padding-left:35px;
	padding-top: 15px;
}
#copywright {
	text-align: center;
	padding-top: 15px;
}
footer ul li a:hover {
	color: white;
	background: #333;
}
footer form label {
	position: absolute;
	left: -9000px;
}
footer form input[type="search"] {
	width: 60%;
	height: 26px;
}
footer form input[type="submit"] {
	width: 20%;
}
footer form input[type="search"], footer form input[type="submit"] {
	float: left;
	margin: 15px 16px 0 0;
}
/* -------------------------------------------------- 
   Smaller screen styles
-----------------------------------------------------*/
@media only screen and (max-width: 720px) {

.left, .right {
	float: none;
}
/* -------------------------------------------------- 
   top navigation styles
-----------------------------------------------------*/
/*format navigation text*/
.top-bar ul li a:not(.button), .top-bar ul li a:not(.name) {
	font-size: 18px;
	text-align: center;
}
/*center form*/
.top-bar ul > li.search form {
	margin: 0 auto;
	display: block;
	padding: 18px 0;
	overflow: hidden;
}
/* -------------------------------------------------- 
  header styles
-----------------------------------------------------*/
header h1 {
	float: none;
}
header h2 {
	padding-top:0;
	margin-left: 30px;
}
/* -------------------------------------------------- 
  form styles
-----------------------------------------------------*/
/*setting max-width on buttons*/
.button, input[type="submit"].button {
	max-width: 200px;
}

/* -------------------------------------------------- 
  sidebar styles
-----------------------------------------------------*/
aside {
	margin: 3em 0 2em;

}
aside h3 {
	margin-top: 0;
}

/* -------------------------------------------------- 
   footer styles
-----------------------------------------------------*/
footer {
	height: auto;
}

footer p {
	text-align: center;
	margin-top: 16px;
	line-height: inherit;
}
footer ul li a {
	margin: 0 16px 16px 0;
	line-height: inherit;
	font-color: 0.8em;
}
footer form input[type="search"] {
	width: 200px;
	height: 26px;
}
footer form input[type="submit"].button {
	width: 36px;
}
footer form input[type="search"], footer form input[type="submit"] {
	float: left;
}